---
import Layout from "layouts/Layout.astro";
import { calculateReadingTime } from "@lib/reading";
import { readItems } from "@directus/sdk";
import directus from "@lib/directus";
import { hasNameProperty } from "@utils/checkNameProperty";

const post = Astro.props;

export const getStaticPaths = async () => {
  const posts = await directus.request(
    readItems("posts", {
      fields: ["*", { author_id: ["name"] }],
    })
  );
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
};

const minutesRead = calculateReadingTime(post.content);
---

<Layout title={post.title}>
  <main class="prose mx-auto">
    <article>
      <h1 class="text-2xl font-condensed text-center my-4">
        {post.title}
      </h1>

      <div class="flex justify-between">
        {
          hasNameProperty(post.author_id) && (
            <div class="mb-4 text-sm text-gray-600">
              <p>Por {post.author_id.name}</p>
              <p>Publicado {post.published_date}</p>
            </div>
          )
        }
        {
          minutesRead && (
            <p class="text-lg">
              <div class="flex items-center space-x-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="text-gray-600"
                >
                  <path
                    fill="currentColor"
                    d="M11.5 3a9.5 9.5 0 0 1 9.5 9.5a9.5 9.5 0 0 1-9.5 9.5A9.5 9.5 0 0 1 2 12.5A9.5 9.5 0 0 1 11.5 3m0 1A8.5 8.5 0 0 0 3 12.5a8.5 8.5 0 0 0 8.5 8.5a8.5 8.5 0 0 0 8.5-8.5A8.5 8.5 0 0 0 11.5 4M11 7h1v5.42l4.7 2.71l-.5.87l-5.2-3z"
                  />
                </svg>
                <span class="text-sm">{minutesRead}</span>
              </div>
            </p>
          )
        }
      </div>

      {
        post.imagen && (
          <img
            src={`http://127.0.0.1:8055/assets/${post.imagen}?width=500`}
            alt={post.imagen.toString()}
            class="mb-8 object-cover object-center w-full grayscale-[0.1] group-hover:grayscale-0 h-full rounded-md group-hover:scale-105 transition-all animate-in"
          />
        )
      }
      {
        post.content && post.content.length > 0 && (
          <div class="space-y-8 ">
            {post.content && <p class="text-sm" set:html={post.content} />}
          </div>
        )
      }
    </article>
  </main>
</Layout>
