---
interface Props {
  label: string;
  href: string;
  hasChild: boolean;
  children: Array<{
    label: string;
    href: string;
  }>;
}

const { label, href, hasChild, children } = Astro.props;

---

{
  hasChild ? (
    <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] [--is-collapse:true] md:[--is-collapse:false] p-3 ps-px sm:px-3 md:py-4">
      <button
        id="hs-dropdown-floating-dark"
        type="button"
        class="hs-dropdown-toggle flex items-center w-full text-sm text-black hover:text-neutral-300 focus:outline-none focus:text-neutral-300"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Dropdown"
      >
        {label}
        <svg
          class="hs-dropdown-open:-rotate-180 md:hs-dropdown-open:rotate-0 duration-300 shrink-0 ms-auto md:ms-1 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6" />
        </svg>
      </button>
      <div
        class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-neutral-800 md:shadow-md rounded-lg before:absolute top-full before:-top-5 before:start-0 before:w-full before:h-5"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="hs-dropdown-floating-dark"
      >
        <div class="py-1 md:px-1 space-y-1">
          {children &&
            children.map((child) => (
              <a
                class="flex items-center gap-x-3.5 py-2 md:px-3 rounded-lg text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300"
                href={child.href}
              >
                {child.label}
              </a>
            ))}
        </div>
      </div>
    </div>
  ) : (
    <a
      class="p-3 ps-px sm:px-3 md:py-4 text-sm text-black hover:text-gray-700 focus:outline-none focus:text-gray-700 transition-colors duration-200"
      href={href}
    >
      {label}
    </a>
  )
}
